/* Box modal */
.box_modal {
	display: flex;
	align-items: center;
	justify-content: center;
}
.select_boxes {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 2em 0;
	.search_btn {
		margin-right: 30px;
	}
}
.movie_title {
	margin-right: 30px;
}

.paper {
	background-color: #ffffff;
	// border: 2px solid #000;
	padding: 16px 32px 24px;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
		0px 1px 14px 0px rgba(0, 0, 0, 0.12);
	max-width: 800px;
	width: 400px;
	min-height: 250px;
	overflow: auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.gridList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
	.grid_list {
		width: calc(100% / 4 - 20px);
		margin-bottom: 20px !important;
		.icon_color {
			color: rgba(255, 255, 255, 0.54);
		}

		.MuiGridListTile-root {
			width: 100% !important;
			height: auto !important;
		}

		img {
			width: 100%;
			height: 250px;
		}
	}
}

.table_design {
	table {
		td {
			img {
				width: 200px;
				height: 200px;
			}
		}
	}
}
