.btn_default{
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &.primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;

        &:active{
            color: #fff;
            background-color: #0062cc;
            border-color: #005cbf;
        }
    }

    &.critical{
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
        &:active{
            color: #fff;
            background-color: #bd2130;
            border-color: #b21f2d;
        }
    }

    &.space{
        margin: 0 10px;
    }
}