body {
    font-family: 'lato', sans-serif;
  }
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }
  
  .responsive-table {
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: #95A5A6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 25%;
    }
    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row{
        
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }


/* Pagination */
 
ul.pagination{
    position: relative;
    background: #fff;
    display: flex;
    padding: 5px 20px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  ul.pagination li {
    list-style: none;
    line-height: 50px;
    margin: 0 5px;
  }
  
  ul.pagination li.pageNumber {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  
  ul.pagination li span {
    display: block;
    text-decoration: none;
    color: #383838;
    font-weight: 600;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
  }
  
  ul.pagination li.pageNumber:hover span,
  ul.pagination li.pageNumber.active span {
    background: #383838;
    color: #fff;
  }
  
  ul.pagination li:first-child {
    margin-right: 30px;
    font-weight: 700;
    font-size: 20px;
  }
  
  ul.pagination li:last-child {
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
  }   