h1 {
	font-size: 50px;
}

%outline-none {
	&:active {
		outline: none !important;
	}
	&:focus {
		outline: none !important;
	}
}

@mixin common_btn {
	font-family: 'robotoregular';
	padding: 10px 25px;
	font-size: 19px;
	background-color: #f8f9fa;
	color: #212529;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
	&:active {
		outline: none !important;
		color: #333;
		background-color: #e6e6e6;
		border-color: #8c8c8c;
	}
	&:focus {
		outline: none !important;
	}
}

.section_block {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	margin-top: 100px;
	border-radius: 4px;
	.collapse_block {
		padding: 12px 34px;
		padding-right: 42px;
		border: none;
		box-shadow: 0px 1px 3px 0px rgba(32, 33, 36, 0.28);
		.cb_single {
			display: flex;
			align-items: center;
			.cb_img {
				img {
					max-width: 20px;
					object-fit: cover;
				}
			}
			.cb_head {
				margin-left: 56px;
			}

			.cb_btn {
				.expd_btn {
					@include common_btn;
					margin-left: 28px;
				}
			}

			.cb_content {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.cb_head {
					h4 {
						font-size: 23px;
						color: #333;
					}
				}
			}
		}

		.collapse_inside_content {
			display: grid;
			grid-template-columns: auto auto auto;
			grid-gap: 45px 39px;
			margin-top: 40px;
			.cic_card {
				.img {
					border: 1px solid #ccc;
					img {
						max-width: 100%;
						display: inline-block;
						height: 398px;
						object-fit: cover;
					}
				}
				.thumbnail_block {
					position: relative;
					top: -5px;
					button {
						@include common_btn;
						width: calc(100% / 3);
						border-radius: 0;
					}
				}
			}
		}

		&.inactive {
			.collapse_inside_content {
				display: none;
			}
			.cb_single {
				.cb_btn {
					.duplicate_btn,
					.delete_btn,
					.hide_show_btn {
						display: none;
					}
				}
			}
		}

		&.active {
			.collapse_inside_content {
				display: grid;

				&.hide {
					opacity: 0.5;
				}
				&.show {
					opacity: 1;
				}
			}
			.cb_single {
				.cb_btn {
					.duplicate_btn,
					.delete_btn,
					.hide_show_btn {
						display: inline-block;
					}
					.hide_show_btn {
						&.show {
							background-color: #9c27b0;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

/* Media queries */
@media only screen and (max-width: 1099px) {
	.container {
		width: 90%;
	}
	.section_block .collapse_block .collapse_inside_content .cic_card .thumbnail_block button {
		padding: 10px 0;
	}
	.section_block .collapse_block .collapse_inside_content .cic_card .img img {
		height: 280px;
		object-fit: cover;
		width: 100%;
	}
}

@media only screen and (max-width: 850px) {
	.section_block .collapse_block .cb_single .cb_content .cb_head h4 {
		font-size: 19px;
	}
	.section_block .collapse_block .cb_single .cb_btn .expd_btn {
		padding: 5px 7px;
		font-size: 16px;
	}
	.section_block .collapse_block {
		padding-right: 25px;
	}
	.section_block .collapse_block .collapse_inside_content .cic_card .thumbnail_block button {
		font-size: 16px;
	}
	.section_block .collapse_block .collapse_inside_content .cic_card .img img {
		height: 200px;
	}
	.section_block .collapse_block .cb_single .cb_head {
		margin-left: 22px;
	}
}

@media only screen and (max-width: 650px) {
	.section_block .collapse_block.active .cb_single .cb_content {
		flex-wrap: wrap;
	}
	.section_block .collapse_block.active .cb_single .cb_btn .expd_btn {
		margin-bottom: 0;
		margin-top: 20px;
		margin-left: 21px;
	}
	.section_block .collapse_block.active .cb_single .cb_img {
		align-self: flex-start;
		position: relative;
		top: 4px;
	}
	.section_block .collapse_block .collapse_inside_content {
		grid-template-columns: auto;
	}
}
