body {
	overflow: hidden;
}

header {
	border: 2px solid red;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 75px;
}

.body_layout {
	padding-top: 75px;
	display: flex;
	flex-wrap: wrap;
	.sidebar {
		width: 75px;
		border: 2px solid blue;
		height: calc(100% - 75px);
		position: fixed;
		left: 0;
		top: 75px;
	}

	.inner_sidebar {
		border: 2px solid green;
		width: 204px;
		position: fixed;
		left: 75px;
		top: 75px;
		height: calc(100% - 75px);
	}
	.content_area {
		width: calc(100% - 279px);
		margin: 0 0 0 auto;
		// margin-top: 75px;
		.ca_area {
			border: 2px solid orange;
		}
		.area {
			height: calc(100vh - 75px);
		}
	}
}
