/* Font-Family */
@font-face {
	font-family: "SFUIDisplay-Bold";
	src: url("../../assets/fonts/woff/sf-ui-display-bold.woff") format("woff"),
		url("../../assets/fonts/woff/sf-ui-display-bold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "SFUIDisplay-Medium";
	src: url("../../assets/fonts/woff/sf-ui-display-medium.woff") format("woff"),
		url("../../assets/fonts/woff/sf-ui-display-medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "SFUIDisplay-Semibold";
	src: url("../../assets/fonts/woff/sf-ui-display-semibold.woff") format("woff"),
		url("../../assets/fonts/woff/sf-ui-display-semibold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/* CircularStd */
@font-face {
	font-family: "CircularStd-Medium";
	src: url("../../assets/fonts/woff/CircularStd-Medium.woff") format("woff"),
		url("../../assets/fonts/woff/CircularStd-Medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/* SFUIText */
@font-face {
	font-family: "SFUIText-Semibold";
	src: url("../../assets/fonts/woff/SFUIText-Semibold.woff") format("woff"),
		url("../../assets/fonts/woff/SFUIText-Semibold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "SFUIText-Regular";
	src: url("../../assets/fonts/woff/SFUIText-Regular.woff") format("woff"),
		url("../../assets/fonts/woff/SFUIText-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "SFUIText-Medium";
	src: url("../../assets/fonts/woff/SFUIText-Medium.woff") format("woff"),
		url("../../assets/fonts/woff/SFUIText-Medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "SFUIText-Bold";
	src: url("../../assets/fonts/woff/SFUIText-Bold.woff") format("woff"),
		url("../../assets/fonts/woff/SFUIText-Bold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/* Header */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
	padding-right: 90px;
	width: 100%;
	padding-top: 33px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
	ul.menu {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		top: -9px;
		li {
			margin-right: 35px;
			a {
				font-family: "SFUIDisplay-Medium";
				color: #ffffff;
				font-size: 15px;
				display: inline-block;
				border-bottom: 3px solid transparent;
				padding-bottom: 3px;
				&:hover {
					border-bottom: 3px solid #70cca8;
				}
			}
		}
	}

	.profile {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.profile_tag {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			cursor: pointer;
			span.username {
				font-family: "SFUIDisplay-Medium";
				color: #ffffff;
				font-size: 20px;
				margin-left: 16px;
			}
		}
		.ham_icon {
			margin-right: 23px;
			img {
				cursor: pointer;
				display: none;
			}
		}
	}
}

/* Common Container */
.container {
	max-width: 1220px;
	width: 100%;
	margin: 0 auto;
}

/* Banner */
.banner {
	position: relative;
	margin-bottom: 30em;
	.banner_img {
		background-image: url('../../assets/images/projects_c/bg_image.png');
		background-repeat: no-repeat;
		background-size: cover;
		height: 690px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	.banner_content {
		margin-bottom: 80px;
		h1 {
			font-family: "SFUIText-Regular";
			color: #ffffff;
			font-weight: 500;
			font-size: 35px;
		}
		p {
			font-family: "SFUIText-Regular";
			color: #6ccaa9;
			font-size: 18px;
		}
	}
}

/* Form Block */
.form_block {
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	width: 100%;
	.fb_row {
		display: flex;
		flex-wrap: wrap;
		box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		background-color: #ffffff;
	}
	.form_block_left {
		background-color: #f9f9f9;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 33%;
		.fbl_img {
			text-align: center;
			img {
				max-width: 314px;
				width: 100%;
			}
		}
	}
	.form_block_right {
		width: 67%;
		padding: 90px 50px;

		.fbr_form_elements {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			input[type='text'],
			input[type='email'],
			select {
				font-family: "SFUIText-Regular";
				border: 1px solid #dddfe1;
				border-radius: 3px;
				font-size: 16px;
				height: 51px;
				padding-left: 14px;
				width: 100%;

				&::-webkit-input-placeholder {
					color: #abafb3;
				}
				&::-moz-placeholder {
					color: #abafb3;
				}
				&:-ms-input-placeholder {
					color: #abafb3;
				}
				&:-moz-placeholder {
					color: #abafb3;
				}
			}

			input[type="submit"] {
				font-family: "SFUIText-Regular";
				font-size: 20px;
				color: #ffffff;
				background-color: #6ccaa9;
				border: none;
				border-radius: 4px;
				display: inline-block;
				padding: 15px 67px;
				cursor: pointer;
				transition: .5s ease;
				&:hover {
					background-color: #351ca4;
				}
			}

			.fbr_form_group {
				width: calc(50% - 16px);
				margin-bottom: 25px;

				label {
					font-family: "SFUIText-Regular";
					font-size: 16px;
					font-weight: 500;
					color: #464a53;
					display: inline-block;
					margin-bottom: 10px;
				}
				&.full_width {
					width: 100%;
				}

				&.form_submit {
					width: 100%;
					text-align: right;
				}
			}
		}
	}
}

/* Footer */
footer {
	background: #ffffff;
	box-shadow: -2px -4px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 50px;
	.left_footer {
		a {
			font-family: "CircularStd-Medium";
			display: inline-block;
			color: #8a8a8a;
			font-size: 13px;
			font-weight: 100;
			&:hover {
				color: #6ccaa9;
			}
		}
	}
	.right_footer {
		span.copy_rights {
			font-family: "CircularStd-Medium";
			color: #8a8a8a;
			font-size: 13px;
			font-weight: 100;
		}
	}
}

/* Media queries */
@media only screen and (max-width: 1299px) {
	.container {
		width: 80%;
	}
	.form_block .form_block_left .fbl_img img {
		width: 80%;
	}
}

@media only screen and (max-width: 850px) {
	.form_block .form_block_right .fbr_form_elements .fbr_form_group {
		width: 100%;
		margin-bottom: 20px;
	}
	.form_block {
		transform: translate(-50%, -32%);
	}
	.container {
		width: 88%;
	}
	.banner {
		margin-bottom: 52em;
	}
	.form_block .form_block_right {
		padding: 40px 40px;
	}
	.header {
		padding: 0 30px;
		padding-right: 30px;
		padding-top: 20px;
		.logo {
			a {
				img {
					max-width: 100px;
				}
			}
		}
	}
	.header ul.menu li {
		margin-right: 15px;
	}
	.header .profile .profile_tag span.username {
		font-size: 16px;
		margin-left: 10px;
	}
	.header ul.menu {
		top: 0;
	}

	.form_block .fb_row {
		flex-direction: column;
	}
	.form_block .form_block_left {
		width: 100%;
		padding: 40px 0;
	}
	.form_block .form_block_left .fbl_img img {
		width: 70%;
	}
	.form_block .form_block_right {
		width: 100%;
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 650px) {
	.banner .banner_content h1 {
		font-size: 22px;
	}
	.banner .banner_content p {
		font-size: 14px;
	}
	.form_block .form_block_right {
		padding: 25px 30px;
	}
	.form_block .form_block_right .fbr_form_elements input[type="submit"] {
		width: 100%;
		padding: 11px 48px;
	}
	.form_block {
		transform: translate(-50%, -35%);
	}
	.header .profile .profile_tag span.username {
		display: none;
	}

	.header ul.menu {
		position: absolute;
		left: 0;
		top: 84px;
		flex-direction: row;
		width: 100%;
		background-color: #fff;
		-webkit-transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear,
			border-top-width .3s linear, border-top-width .3s linear;
		transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear,
			border-top-width .3s linear;
		height: 180px;

		&.toggled {
			overflow: hidden;
			padding-top: 0;
			padding-bottom: 0;
			height: 0;
			border-width: 0 1px;
		}
	}
	.header ul.menu li a {
		color: #351ca4;
		margin: 0;
		border: none;
		padding: 0;
		padding: 12px 20px;
		width: 100%;
		&:hover {
			color: #fff;
			background-color: #351ca4;
		}
	}
	.header ul.menu li {
		margin: 0;
		width: 100%;
	}
	.header .profile .ham_icon img {
		display: block;
	}
}
