h1 {
	font-size: 30px;
}

/* Homepage */
header {
	padding: 30px 25px;
	margin-bottom: 40px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
	.navigation {
		text-align: right;
		.add_new_post {
			background-color: #8c0937;
			border: none;
			color: #fff;
			font-size: 18px;
			padding: 10px 32px;
			border-radius: 4px;
			letter-spacing: .5px;
			margin-right: 15px;
			cursor: pointer;
			transition: .5s ease;
			&:hover {
				background-color: #2e427f;
			}
			&:active {
				outline: none !important;
			}
			&:focus {
				outline: none !important;
			}
		}
	}
}

.articles {
	.article {
		margin-bottom: 50px;
		h3 {
			font-size: 32px;
			text-transform: capitalize;
			margin-bottom: 7px;
			color: #2e427f;
		}
		p {
			font-size: 18px;
			margin-bottom: 10px;
			color: #595958;
		}
		.btn_common {
			background-color: #8c0937;
			border: none;
			color: #fff;
			font-size: 18px;
			padding: 10px 32px;
			border-radius: 4px;
			letter-spacing: .5px;
			margin-right: 15px;
			cursor: pointer;
			transition: .5s ease;
			&:hover {
				background-color: #2e427f;
			}
			&:active {
				outline: none !important;
			}
			&:focus {
				outline: none !important;
			}
		}
	}
}

.form_page {
	.form_page_heading {
		margin-top: 30px;
		text-align: center;
		h1 {
			color: #8c0937;
			font-size: 25px;
		}
	}

	form.post_form {
		label {
			font-family: 'open_sanssemibold';
			font-size: 18px;
			color: #2e427f;
			margin-bottom: 10px;
			display: block;
		}
		input[type='text'],
		textarea {
			font-family: 'open_sansregular';
			border: 1.5px solid #595958;
			height: 36px;
			border-radius: 8px;
			width: 100%;
			font-size: 19px;
			padding: 0 10px;
			&:active {
				outline: none !important;
			}
			&:focus {
				outline: none !important;
				border-color: #8c0937;
			}
		}
		textarea {
			height: auto;
			padding-top: 10px;
		}
		.submit_btn {
			background-color: #8c0937;
			border: none;
			color: #fff;
			font-size: 18px;
			padding: 10px 32px;
			border-radius: 4px;
			letter-spacing: .5px;
			margin-right: 15px;
			cursor: pointer;
			transition: .5s ease;
			&:hover {
				background-color: #2e427f;
			}
			&:active {
				outline: none !important;
			}
			&:focus {
				outline: none !important;
			}
		}
		.form_container {
			margin-bottom: 20px;
		}
	}
}

/* Media queries */
@media only screen and (max-width: 1099px) {
	.container {
		width: 90%;
	}
	.articles .article h3 {
		font-size: 25px;
	}
	header .navigation .add_new_post,
	.articles .article .btn_common {
		font-size: 16px;
		padding: 7px 23px;
	}
	header .navigation .add_new_post {
		margin-right: 0;
	}
	.articles .article p {
		font-size: 16px;
	}
}

@media only screen and (max-width: 650px) {
	.articles .article h3 {
		font-size: 19px;
	}
	.form_page form.post_form textarea {
		height: 250px;
	}
	.form_page form.post_form input[type='text'],
	.form_page form.post_form textarea {
		font-size: 16px;
		padding: 18px 10px;
	}
	.form_page form.post_form textarea {
		padding-top: 10px;
	}
}
